{% extends "base.html.twig" %}

{% form_theme formFilm 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1> Ajout d'un nouveau film </h1>

    {{ form_start(formFilm) }}


    {{ form_widget(formFilm) }}

    <button type="submit" class="btn btn-success"> Ajouter le Film</button>

    {{ form_end(formFilm) }}

{% endblock %}