{% extends "base.html.twig" %}

{% block body %}
    <h1> {{ title }}</h1>

    <p>Bienvenue dans votre vidéothèque virtuelle. </p>
    <p>Dans l'onglet "TITRE", vous trouverez l'ensemble des titres de vos films.</p>
    <p>Dans l'onglet "THÈME", vous trouverez l'ensembles des thèmes de vos films.</p>
    <p>Dans l'onglet "AJOUTER FILM", vous pourrez rajouter des films dans votre collection.</p>
    <p>Dans l'onglet "AJOUTER THÈME", vous pourrez rajouter des thèmes dans votre collection.</p>


{% endblock %}
