{% extends 'base.html.twig' %}

{% block title %}Titres{% endblock %}

{% block body %}
    <section class="film">
        <h1>Films Classés par </h1>
        <h2>Titres</h2>
        <p> Dans index.html.twig</p>
    
    </section>


{% endblock %}
