{% extends 'base.html.twig' %}

{% block title %}Thème{% endblock %}

{% block body %}
    <section class="film">
        <h2>Films Classés par </h2>
        <h1>Thème</h1>
        <p> Dans theme.html.twig</p>
    
    </section>


{% endblock %}
