{% extends 'base.html.twig' %}

{% block title %}Thème{% endblock %}

{% block body %}
    <section class="film">
        <h1>Thème</h1>
        {# <p> Dans theme.html.twig</p> #}
        <p>Search bar : CTRL + F</p>

        {% for thema in themas %}
        <h3> {{ thema.name}} </h3>
     
        <a href="/thema/{{thema.id}}/edit" class="btn btn-light"> Modifier </a>
        <br><br>
        
    {% endfor %}
    
    </section>


{% endblock %}
