{% extends 'base.html.twig' %}

{% block title %}Thème{% endblock %}

{% block body %}
    <section class="article">
        <h1>Films Classés par </h1>
        <h2>Thème</h2>
        <p> Dans theme.html.twig</p>
    
    </section>


{% endblock %}
